<h1>Chef Tracker</h1>
<span>{{activeChefs.length}} of our {{chefs.length}} chefs are cooking right now!</span>
<ul>
{{#each chefs as |chef|}}
  {{#if chef.isCookingToday}}
    <li>
      <span class="available">{{chef.name}}</span>
      <button {{action "exit" chef}}>Exit</button>
      <div>
        Number of Students <button>-</button> {{chef.studentCount}} <button>+</button>
      </div>
    </li>
  {{else}}
    <li>
      <span class="unavailable">{{chef.name}}</span>
      <button {{action "enter" chef}}>Enter</button>
      <button {{action "fireChef" chef}}>Fire</button>
      <div>
        Number of Students <button>-</button> {{chef.studentCount}} <button>+</button>
      </div>
    </li>
  {{/if}}
{{/each}}
</ul>
<hr>
{{input value=newChef}}
<button {{action "addNewChef"}}>Add Chef</button>